body {
    font-family: sans-serif;
    color: #4d4f53;
    margin: 0;
}

.hide {
    display: none;
}

h3 {
    margin-left: 8px;
}

#dialogue {
    overflow-y: scroll;
    height: 464px;
}

.input {
    position: fixed;
    bottom: 0;
    border-top: #f1f1f1 solid 1px;
    margin: 0em; 
    height: 3em;
    width: 100%;
}

.input input {
    outline: none;
    border: none;
    background: none;
}

.breven {
    display: block;
    width:  30px;
    height: 30px;
    background: center no-repeat url('breven.svg') #fff;
    float: left;
    vertical-align: top;
    margin: 0.1em; 
    margin-top: 0.7em;
}

.response, .message {
    margin-bottom: 0.5em;
}

.message {
    text-align: right;
}

.message .text,
.response .text {
    padding: 1em;
    border-radius: 19px;
    background-color: #f1f1f1;
    max-width: 70%;
    display: inline-block;
    margin: 0.1em;
}

.message .text {
    text-align: right;
    margin-left: 10%;
}

.response .text {
    background-color: #e22f26;
    color: #fff;
}

.message a {
    font-weight: bold;
}

.response a {
    font-weight: bold;
    color: #fff;
}

#header {
    display: block;
    background: #fff;
    position: fixed;
    border-bottom: solid 1px #E6E6E6;
    width: 100%;
    height: 56px;
    top: 0;
    left: 0;
    z-index: 900;
}

body div#header {
    position: static;
}

#header h1 {
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 3em;
    padding: 1em 0 0 2em;
    width: 8em;
    z-index: 901;
}

body div#header h1 {
    left: 50%;
    margin-left: -6.5em;
    padding: 1em 0 0;
    width: 13em;
}

#header h1 .img {
    display: block;
    margin: 0 auto;
}
.img-digipost-red {
    background-image: url(digipost-logo-red.svg);
    width: 125px;
    height: 30px;
}

.img {
    text-indent: -999em;
}
.img {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
